
* {
  box-sizing: border-box;
  margin: auto;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 18px;
    margin-left: 15px;
    padding: 20px;
}

h2 {
    color: gray;
    padding-bottom: 8px;
}

h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 2px;
    color: black;
}

nav {
    align-content: center;
    margin: 12px;
    padding: 5px;
}

button {
    background-color: black;
    border-color:black;
    border-width: 1px;
    border-radius: 2px;
    color: white;
    margin: 1rem;
    padding: 20px;
}


label{
    color: white;
    border: 0;
    margin-top: 5px;
}

p {
    text-align: justify;
    
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    height: 50px;
    width: 100vw;

}

.column {
display:flex;
  float: left;
  width: 35%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 35px;
  padding: 16px;
  background-color: #f1f1f1;
}

.card-img-top {
    margin: 5px;
    padding: 8px;
}

.container-fluid2 {
    background-color: lightgray;  
}

div.mb-3{
    float: inline-start;
    margin-left: 220px;
    border: 0;

}

.container-fluid3 {
    background-color: white;
    width: auto;
    height: auto;
    height: 400px ;
}

.alert {
    margin-left: 12px;
}

#subBtn {
    margin-left: 300px;
    
}




